/* app css stylesheet */

.row-expense:nth-child(odd){
  background: #eee;
}

.row-expense:hover {
  background-color: #e0ffff;
}

.col-main {
  margin: 5px;
}

.col-expense {
  padding: 5px;
  border: 1px solid #000;
  flex: 1;
  display:table-cell;
}

.col-input {
  padding: 10px;
}

.col-add {
  text-align: center;
}
