<div>
    <form name="expenseInputForm" ng-submit="$ctrl.addExpense()">
        <div class="row">
            <div class="col-xs-4 col-input">
                Category
            </div>
           <div class="col-xs-8 col-input">
                 <select name="category" ng-model="$ctrl.expense.category"
                         ng-options="cat for cat in $ctrl.categories" required></select>
                 <small>
                   <span class="text-danger" ng-show="expenseInputForm.category.$error.required">Input required.</span>
                 </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-input">
                Description
            </div>
            <div class="col-xs-8 col-input">
                <textarea name="desc" ng-model="$ctrl.expense.desc" required></textarea>
               <small>
                <span class="text-danger" ng-show="expenseInputForm.desc.$error.required">Input required.</span>
               </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-input">
                Cost
            </div>
            <div class="col-xs-8 col-input">
                $<input name="cost" type="number" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                        class = "text-right" ng-model="$ctrl.expense.cost" required></input>
              <small>
                <span class="text-danger" ng-show="expenseInputForm.cost.$error.required">Input required.</span>
              </small>
            </div>
        </div>
        <div>
            <div class="col-xs-4 col-input"></div>
            <div class="col-xs-8 col-add">
                <button type="submit">Add</button>
            </div>
        </div>
    </form>
</div>
